*{
    margin: 0px;
    padding: 0px;
}
/* moving text */
span{
    background:linear-gradient(40deg,teal,hotpink);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Rock Salt", serif;
    font-weight: 400;
    font-style: normal;
    
}
marquee{
    animation-name:moving-text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes moving-text{
    0%{
        background-color:lightcoral;
    }
    20%{
        background-color:lightgoldenrodyellow;
    }
    40%{
        background-color: lightpink;
    }
    60%{
        background-color:lightblue;
    }
    80%{
        background-color:mistyrose;
    }
    100%{
        background-color: lightcoral;
    }
}

/* logo */
.logo{
    display: inline-block;
}

.logo a{
    font-size: 30px;
    text-align: center;
    text-decoration:underline solid black 2px;
}
/* dropdown */
.dropdown-menu{
    transition: all 0.5s;
}
.dropdown-menu li:hover{
    color: white;
    background-color: teal;
}
/* row 2 heading */
.display-4{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.c1{
background-color: rgb(252, 239, 46);
}

.c2{
  background-color: rgb(219, 240, 99);  
}

.c3{
   background-color: #b7f18a; 
}

.c4{
   background-color: #80f2ad; 
}

.gender{
    display: inline-block;
}
.mode{
    display: inline-block;
}

